{% extends 'base.html' %}

{% block title %}
Find The Way
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <h1>Результаты анализа вакансий</h1>
        <p><b>Всего найдено: {{ vacancies_found }} / Отфильтрованных по ролям: {{ filtered_vacancies }} / Использованных: {{ fetched }}</b></p>
        <hr>
        <form method="get" action="{% url 'search_vacancies' %}">
            <b>Новый поиск:</b>
            <input type="text" name="text" placeholder="Enter job title or keyword" value="{{ request.GET.text }}">
            <button type="submit" class="btn btn-success">Search</button>
        </form>
        <p></p>
        <hr class="border border-primary border-3 opacity-75">
        {% if error_message %}
        <div class="error">
            <p>{{ error_message }}</p>
        </div>
        {% endif %}
    </div>
    <h2>Возможные названия вашей роли</h2>
    <ul>
        {% for role, count in professional_roles.items %}
            <li>{{ role }}: {{ count }}</li>
        {% endfor %}
    </ul>
    <h2>Основные требования к роли</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Знания</h3>
            <ul>
                {% for know in knowledges %}
                    <li>{{ know }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Умения</h3>
            <ul>
                {% for skill in skills %}
                    <li>{{ skill }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Владение</h3>
            <ul>
                {% for can in cans %}
                    <li>{{ can }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <h2>Основные функции роли</h2>
    <div class="row">
        <div class="col-md-4">
            <h3>Words</h3>
            <ul>
                {% for duty in duties %}
                    <li>{{ duty }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Bigrams</h3>
            <ul>

            </ul>
        </div>
        <div class="col-md-4">
            <h3>Trigrams</h3>
            <ul>

            </ul>
        </div>
    </div>
</div>
{% endblock %}